.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/medialog

*.pyc

src/medialog/.DS_Store

src/medialog/magneticpopup/.DS_Store

src/medialog/magneticpopup/profiles/.DS_Store

src/medialog/magneticpopup/browser/.DS_Store

*.gz

src/medialog/magneticpopup/browser/static/.DS_Store
